body {
    max-width: 1400px;
    margin: auto;
    font-family: "Raleway", sans-serif;
    margin:0px 50px 0px 50px;    
}
i{
    color: #0065FC;
}
a{
    text-decoration: none;
    color:black;
}
li{
    list-style: none;
}
h3{
    font-size:16px;
    font-weight:700;
    margin-bottom:2px;
    margin-top:2px;
    padding-left:12px;
}
h2{
    font-size:22px;
    font-weight:700;
    padding-left:20px;   
}
.price{
    font-size:14px;
    margin-top:0px;
    margin-bottom:2px;
    padding-left:12px;
}
.euro{
    font-size: 14px;
    font-weight:600;
}
/*-----------------------Header---------------------------------*/
.header_container{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    height:100px;
  }
.logo_img{
    width: 61px;
    height: 19px;  
}
.logo_img img{
    width:100%;
}
.menu{
    display:flex;
}
.menu_li{  
    width:162px;
    text-align:center;
    padding-top:42px;
}
.menu_li a{
    font-size:16px;
    font-weight:400;
}
.menu_li:hover{
    border-top:2px #0065FC solid;
    padding-top:40px;  
}
.menu_li:hover a{
    font-weight: 500;
    color: #0065FC; 
}
.menu{
    margin-top:0px;
}

/*-----------------------------SECTION Recherche------------------------------------*/

h1{
    font-size:22px;
    font-weight:700;
    margin-bottom:0px;
    margin-top:0px;
}
p{
    font-size:16px;
    font-weight:400;
    margin-top: 10px;
}

/*-----------------formulaire-------------*/

label {
    background-color: #f0ebebed;
    border-radius: 15px 0px 0px 15px;
    padding: 16px 17px 14px 18px;
}
.fa-location-dot{
    color:black;
}
input {
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    border-top: solid 1px #f0ebebed;
    border-bottom: solid 1px #f0ebebed;
    border-left: none;
    border-right: none;
    padding-left:10px;
    height: 50px;
}
#search_mobile {
    display:none;
}
#search_desktop{
    height: 50px;
    width: 132px;
    font-weight: 700;
    font-size: 18px;
    color:white;
    background-color: #0065FC;
    border:none;
    border-radius:0px 15px 15px 0px;
}
form {
    display:flex;
    margin-bottom: 15px;
}

/* -------------------Filtres---------------*/
.filters_part{
    display:flex;      
}

.filters span{
    font-size:18px;
    font-weight: 700;
}
.filters{
    display:flex;
    align-items:baseline;
}

.filters_list{
    display:flex;   
}

.filters_button{
    display:flex;
    align-items:center;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom:0px;
    margin-right: 20px;
    white-space: nowrap;            
}
.filters_button p {
    font-size: 17px;
    font-weight:700;
    margin-left: 10px;
    margin-bottom:10px;
}

.filters_button i{
    font-size:20px;
}

.filters_button:hover {
    background-color: #deebff;
    cursor: pointer;
}
}
/* -------------------INFO---------------*/

.fa-info {
    border: solid 2px #f0ebebed;
    padding: 11px 10px 11px 10px;
    border-radius: 50%;
    margin-right: 10px;  
}

.info{
    display:flex;
    align-items:baseline;
    margin-bottom:20px;
}
/*-----------------------------SECTION Hébergement------------------------------------*/
/*------------------Cartes--------------*/
.home_card {
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom:20px; 
}
.home_cards_container a{
    width: 30%;
}

.home_card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    padding: 5px 5px 5px 5px;
    box-sizing:border-box;
    object-fit: cover;
}
.fa-star{
    color: #0065FC;
    font-size:12px;
    
}
.stars{
    padding-left:12px;
    padding-bottom: 12px;
}
.fa-grey {
    color:#F2F2F2;
}

#view_more{
    font-size:18px;
    font-weight: 700;
    padding-left:20px;
    padding-top:10px;
}
/*-----------------------------SECTION Populaires------------------------------------*/
/*------------------Cartes--------------*/
.popular_card{
    height: 144px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    display:flex; 
    background-color:white;
   margin: 0px 10px 20px 10px; 
}

.popular_card img{
    width: 132px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid white;
    box-sizing:border-box;
    object-fit: cover;   
}
.popular_article_content{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-top: 10px;
    padding-right:20px;
}

.header_popular{
    display:flex;
    align-items:baseline;
    justify-content:space-between;
    padding-right:20px;
}


/*--------------------------------Mise en place des containers---------------*/
.home_and_popular{
    display:flex;
    justify-content: space-between;
    margin-bottom:50px;
}
.home_cards_container {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.home{
   width: 60%;
   background-color: rgba(242, 242, 242, 1);
   border-radius:20px;
   display:flex;
   flex-direction:column;
   padding:20px;  
}
.popular{
    background-color: rgba(242, 242, 242, 1);
    border-radius:20px;
    display:flex;
    flex-direction:column;
    width:30%;
    padding:20px;
}
/*--------------------------------Activités------------------------*/
.activity_card{
    height: 440px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}
.activity_container a{
    width:22%;  
}
.activity_card img{
    width: 100%;
    height:85%;
    border-radius: 20px 20px 0px 0px;
    box-sizing:border-box;
    object-fit: cover;
    margin-bottom:10px;
}

.activity_container{
    display:flex;
    justify-content:space-between;
    margin-bottom:50px; 
}

/*-------------------menu de pied de page ------------------------------------------*/
.footer_container{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F2F2F2;
  
}
.footer_content ul{      /*supprime le décalage des listes à puces*/
    padding-left:0px;
}
.footer_content ul li{
    line-height: 30px;
 }
.footer_content{
    padding:2% 0% 5% 5%;
    width:100%;
}
/*--------------------------------------Tablette--------------------------------*/
@media screen and (max-width: 992px){

.home_and_popular{
    display:block;
}
.home, .popular{
    width: 95%;
    margin-bottom:50px;
}

    .filters_button{
        margin-right: 10px;
        white-space: nowrap;
        padding-left:10px;
        padding-right:10px;            
    }

    .filters ul {
        padding-left:10px;   
    }
        .popular_rooms{
        display:flex;
        justify-content:space-between;
    }
    .popular p {
        font-size:13px;
    }
    .popular a{
        width:33%;
    }
    .popular_card img{
        width:40%;  
    }
    .popular_article_content{
        padding-right:5px;
        padding-top:5px; 
    }
    .activity_card{
        height: 267px;   
    }
    .activity_card img{
        height:75%;
    }
}
/*--------------------------------------Mobile--------------------------------*/
@media screen and (max-width: 768px){

    body{
        margin:0px;
    }
    
    .search{
        margin-left:20px;
        margin-right:20px;
    }
    
    .logo_img{
     margin:auto;
    }

    .header_container{
        display:block;
    }
    .filters_list{
        display:block;
        margin-left:0px;
    }
    .filters_part{
        margin-bottom:10px;
    }
    .filters{
        display:block;
    }
    .filters ul{
        padding-left:0px;
    }
.filters_button p{
    font-size:11px;
}
.filters_button {
    width:50%;
    white-space: pre-wrap;
}

input { 
    width:230px;
}
#search_mobile {
    display:block;
    height: 50px;
    border:none;
    background-color: #0065FC;
    border-radius:0px 15px 15px 0px;
}
#search_mobile i{
    color:white;
    padding:10px 10px 10px 10px;
    font-size:15px;   
}

#search_desktop{
    display:none;
}
.menu_li{  
    border-bottom:solid 3px #F2F2F2;
    padding-bottom:20px;
}
.menu_li:hover{
    border-top:none;
    border-bottom:3px #0065FC solid;
}

.header_container{
    width:100%;
    margin:30px 0px 20px 0px;
}
.menu{
    padding-left:0px;
    width:100%;
}
.menu_li{  
    width:50%;
    text-align:center;
}
.home_and_popular{
    display:flex;
    flex-direction: column-reverse;
    margin:0px;
}
.header_popular{
    justify-content: space-between;
}
.popular, .home, .activity{
    border-radius:0px;
    padding-left:20px;
    padding-right:20px;
    width:90%;
    margin:auto;
}
.popular_rooms{
    display:block;
}
.home_card, .activity_card{
    margin: 0px 10px 20px 10px;
}

.home{
    background-color:white;
    padding-top:0px;
    margin-bottom:0px;
    padding-left:20px;
    padding-right:20px;
}
.home_cards_container{
    display:block;  
}

#view_more{
    display:none;
}
.activity_container{
    display:block;
   /* margin:20px;*/
    margin-bottom:50px;
}
.activity_card{
    height:190px;
}

.footer_container{
    display:block;
    margin:auto;
    padding-bottom:2%;   
}
.footer_content{
    padding:2% 1% 0% 8%;
}
}