body {
    max-width: 1400px;
    font-family: "Raleway", sans-serif;
    margin:auto; 
}
.bloc_page{
    margin:0px 30px;
}
i{
    color: #0065fc;
}
a{
    text-decoration: none;
    color:#000000;
}
li{
    list-style: none;
}
ul{
    padding-left:0px;
}
h2{
    font-size:22px;
    font-weight:700;
    margin-left:10px;
}
h3{
    font-size:16px;
    font-weight:700;
    margin:0 0 3px 12px;
}
img{
    box-sizing: border-box;
}
.header_container{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}
.logo_img{
    width: 61px;
    height: 19px;  
}
.logo_img img{
    width:100%;
}
.menu{
    display:flex;
}
.menu_li{  
    width:165px;
    text-align:center;
    padding-top:42px;
}
.menu_li a{
    font-size:16px;
    font-weight:400;
}
.menu_li:hover{
    border-top:2px #0065fc solid;
    padding-top:40px; 
}
.menu_li:hover a{
    font-weight: 500;
    color: #0065fc; 
}
.menu{
    margin-top:0px;
}

h1{
    font-size:22px;
    font-weight:700;
    margin-bottom:0px;
}
p{
    font-size:16px;
    font-weight:400;
    margin-top: 10px;
}
form {
    display:flex;
    margin-bottom: 30px;
}
label {
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    padding: 15px 17px 15px 17px;
}
.fa-location-dot{
    color:#000000;
    font-size:18px;
}
input {
    font-weight: 700;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    border-top: solid 1px #f2f2f2;
    border-bottom: solid 1px #f2f2f2;
    border-left: none;
    border-right: none;
    padding-left:10px;
    height: 50px;
}
#search_mobile {
    display:none;
}
#search_desktop{
    height: 50px;
    width: 132px;
    font-weight: 700;
    font-size: 18px;
    color:#ffffff;
    background-color: #0065fc;
    border:none;
    border-radius:0px 15px 15px 0px;
    cursor:pointer;
}
.filters{
    display:flex;
    align-items:baseline;
    margin-bottom: 25px;
}
.filters_part{
    display:flex;      
}
.filters span{
    font-size:18px;
    font-weight: 700;
    margin-right:30px;
}
.filters_list{
    display:flex;   
}
.filters_button{
    display:flex;
    align-items:center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding:0 20px;
    margin-right: 20px;
    white-space: nowrap;       
}
.filters_button p {
    font-size: 17px;
    font-weight:700;
    margin-left: 10px;
    margin-bottom:10px;
}
.filters_button i{
    font-size:20px;
}
.filters_button:hover {
    background-color: #deebff;
    cursor: pointer;
}
.fa-info {
    border: solid 2px #d9d9d9;
    padding: 11px 10px;
    border-radius: 50%;
    margin-right: 10px;  
}
.info{
    display:flex;
    align-items:baseline;
    margin-bottom:20px;
}
.home_card, .popular_card, .activity_card{
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.price{
    font-size:14px;
    margin-top:0px;
    margin-bottom:2px;
    padding-left:12px;
}
.euro{
    font-size: 14px;
    font-weight:600;
}
.home_card {
    width:30%;
    min-width:186px;  
    height:199px;
    background-color: #ffffff;
    margin-bottom:30px; 
}
.home_card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid #ffffff;
    object-fit:cover;
}
.fa-star{
    color: #0065fc;
    font-size:12px;  
}
.stars{
    padding-left:12px;
    padding-bottom: 12px;
}
.fa-grey {
    color:#f2f2f2;
}
#view_more{
    font-size:18px;
    font-weight: 700;
    margin-left:20px;
    margin-top:10px;
}
.header_popular{
    display:flex;
    align-items:baseline;
    justify-content:space-between;
    padding-right:10px;
}
.popular_card{
    height: 144px;
    background-color:#ffffff;
    margin: 0px 10px 30px 10px; 
}
.popular_flex_container{
    display:flex;
}
.popular_flex_container img{
    width: 40%;
    height: 144px;
    border-radius: 20px 0px 0px 20px;
    border: 5px solid #ffffff;
    object-fit: cover; 
}
.popular_article_content{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding-top: 10px;
    padding-right:20px;
}
.header_popular h2{
    margin-right:10px;
}
.home_and_popular{
    display:flex;
    justify-content: space-between;
    margin-bottom:50px;
}
.home_cards_container {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
.home, .popular{
    background-color: #f2f2f2;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    padding:20px;
}
.home{
   width: 62%;    
}
.popular{
    width:28%;   
}
.activity_card{
    height: 445px;
    width:22%;  
}
.activity h2{
    margin-left:0px;
}
.activity_card img{
    width: 100%;
    height:389px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    margin-bottom:10px;
}
.activity_container{
    display:flex;
    justify-content:space-between;
    margin-bottom:50px; 
}
.footer_container{
    width:100%;
    height:225px;
    background-color: #f2f2f2; 
}
.footer_content ul li{
    line-height: 2;
 }
 .footer_part h4{
    margin-bottom: 15px;
 }
.footer_content{
    height:100%;
    width:80%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
@media screen and (max-width: 991px) and (min-width: 768px){

    .home_and_popular{
        display:block;
    }
    .home, .popular{
       width:100%;
        margin-bottom:50px;
        box-sizing:border-box;
    }
    .filters span {
        margin-right:5px;
    }
    .filters_button{
        margin-right: 10px;
        padding:0 10px;            
    }
    .popular_rooms{
        display:flex;
        justify-content:space-between;
    }
    .popular p {
        font-size:13px;
    }
    .popular_card{
       width:30%;
    }
    .activity_card{
        height: 267px;   
    }
    .activity_card img{
        height:211px;
    }
}
@media screen and (max-width: 767px){
    .bloc_page{
        margin:0px; 
    }
    .logo_img{
     margin:auto;
    }
    .header_container{
        display:block;
    }
    .menu_li{  
        border-bottom:3px solid #f2f2f2;
        padding-bottom:20px;
    }
    .menu_li:hover{
        border-top:none;
        border-color: #0065fc;
    }
    .header_container{
        margin:30px 0px 20px 0px;
    }
    .menu_li{  
        width:50%;
        text-align:center;
    }
    .search{
        margin-left:20px;
    }
    h1{
        margin-right:20px;
    }
    .filters{
        display:block;
    }
    .filters_list{
        display:block;
    }
    .filters_part{
        margin:10px 0px;
    }
    .filters_button p{
        font-size:11px;
        margin-left:5px;
    }
    .filters_button {
        width:50%;
        margin-right:10px;
    }
    input { 
        min-width:160px;
    }
    #search_mobile {
        display:block;
        height: 50px;
        border:none;
        background-color: #0065fc;
        border-radius:0px 15px 15px 0px;
        cursor:pointer;
    }
    #search_mobile i{
        color:#ffffff;
        padding:10px;
        font-size:15px;   
    }
    #search_desktop{
        display:none;
    }
    .filters_button{
        padding:0 5px 0 10px;
        white-space:normal;           
    }
    .home{
        background-color:#ffffff;
    }
    #view_more{
        display:none;
    }
    .home_and_popular{
    flex-direction: column-reverse;
    margin-bottom:10px;
    }
    .home, .activity{
        border-radius:0px;
        width:100%;
        box-sizing:border-box;
    }
    .activity{
       padding:20px;
    }
    .home_card, .activity_card{
        margin-bottom:20px ;
        width:100%;
        box-sizing:border-box;    
    }
    .home_cards_container{
        display:block; 
    }
    .home h2{
        margin-top:0px;
    }
    .popular{
        width:100%;
        border-radius:0px;
        box-sizing: border-box;
    }
    .popular_card{
        width:100%;
        margin:15px 0;
        box-sizing:border-box;
    }
    .popular_rooms{
        width:100%;
    }
    .header_popular{
        width:100%;
    }
    .activity_card{
        height:190px;
    }
    .activity_card img{
        height:134px;
    }
    .activity_container{
        display:block;
    }
    .footer_container{
        height:auto;
    }
    .footer_content{
        display:block;
        padding:30px;
    }
    .footer_part{
        margin-bottom:40px;
    }
}